<div  class="row" style="margin-top: 300px;"  >
    <div class="back_button" [routerLink]="['']">Back</div>
    <div class="col-sm-4">
    <h3>{{userDetails.first_name}} {{userDetails.last_name}}</h3> 
    <div style="border-bottom: 1px solid;"><span style="margin-right: 172px;">Company</span>{{userDetails.company}}<span></span></div>
    <div style="border-bottom: 1px solid;"><span style="margin-right: 207px;">City</span><span>{{userDetails.city}}</span></div>
    <div style="border-bottom: 1px solid;"><span style="margin-right: 199px;">State</span><span>{{userDetails.state}}</span></div>
    <div style="border-bottom: 1px solid;"><span style="margin-right: 210px;">Zip</span><span>{{userDetails.zip}}</span></div>
    <div style="border-bottom: 1px solid;"><span style="margin-right: 194px;">Email</span><span>{{userDetails.email}}</span></div>
    <div style="border-bottom: 1px solid;"><span style="margin-right: 199px;">Web</span><span>{{userDetails.web}}</span></div>
    <div style="border-bottom: 1px solid;"><span style="margin-right: 202px;">Age</span><span>{{userDetails.age}}</span></div>
</div>
</div>